.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  font-family: var(--font-mono);
}

.chatContainer {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 0.85rem;
  width: 100%;
  min-width: 300px;
  z-index: 2;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 3px 0px #a0a0a0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 42px;
  border-bottom: 1px solid var(--palette-color-7);
  padding: 5px 12px 5px 8px;
  background-color: var(--palette-color-2);
}

.headerInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.botIcon {
  margin-right: 8px;
}

.botName {
  position: relative;
  top: 1px;
}

.teamIcon {
  position: absolute;
  top: 24px;
  left: 22px;
  margin-left: 4px;
  height: 14px;
  width: 14px;
}

.binIcon {
  cursor: pointer;
}

.messagesContainer {
  height: 400px;
  width: 100%;
  overflow: hidden;
  background-color: var(--palette-color-1);
}

.messagesContent {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: auto;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.messagesContent.botTyping {
  height: calc(100% - 26px);
}

.messageSpace {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin: 4px 0;
}

.messageSpace:first-child {
  margin-top: 0;
}

.messageSpace:last-child {
  margin-bottom: 0;
}

.messageSpace.messageSpaceSent {
  justify-content: flex-end;
}

.messageSpace.messageSpaceReceived {
  justify-content: flex-start;
}

.message {
  position: relative;
  border-radius: 4px;
  max-width: 325px;
  padding: 6px;
  background-color: var(--palette-color-0);
  box-shadow: 1px 1px 3px 0px #a0a0a0;
  z-index: 1;
}

.messageTail {
  position: absolute;
  background-color: var(--palette-color-0);
  width: 7px;
  height: 6px;
  border-radius: 2px;
  z-index: 2;
}

.messageSpaceReceived .messageTail {
  left: -4px;
  clip-path: inset(0 0 round 0 0 0 100%);
}

.messageSpaceSent .messageTail {
  right: -4px;
  clip-path: inset(0 0 round 0 0 100% 0);
}

.botTypingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--palette-color-2);
  width: 100%;
  height: 26px;
  padding: 3px;
  z-index: 2;
}

.botTypingText {
  position: relative;
  font-size: 11px;
  line-height: 13px;
  top: 1px;
  color: #000000;
}

.botTypingDots {
  position: relative;
  font-size: 11px;
  line-height: 13px;
  top: 1px;
  color: #000000;
  clip-path: inset(0 3ch 0 0);
  animation: threeDotsAnimation 2s steps(4) infinite;
}

@keyframes threeDotsAnimation {
  from {
    clip-path: inset(0 3ch 0 0);
  }
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}

.inputContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
  border-top: 1px solid var(--palette-color-7);
  background-color: var(--palette-color-1);
}

.input {
  font-size: 12px;
  width: calc(100% - 30px);
  height: 100%;
  padding: 5px;
  border: none;
  outline: none;
  background-color: transparent;
}

.input::placeholder {
  font-style: italic;
}

.sendIcon {
  padding: 4px;
  cursor: pointer;
  background-color: transparent;
}

.modalTransitionEnter {
  opacity: 0;
}

.modalTransitionEnterActive {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 200ms;
}

.modalTransitionEnterDone {
  opacity: 1;
  pointer-events: auto;
}

.modalTransitionExit {
  opacity: 1;
}

.modalTransitionExitActive {
  opacity: 0;
  transition: opacity 200ms;
}

.modalTransitionExitDone {
  pointer-events: none;
  opacity: 0;
}
