.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  font-family: var(--font-mono);
}

.chatContainer {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalTransitionEnter {
  display: flex;
  opacity: 0;
}

.modalTransitionEnterActive {
  display: flex;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 300ms;
}

.modalTransitionEnterDone {
  display: flex;
  opacity: 1;
  pointer-events: auto;
}

.modalTransitionExit {
  display: flex;
  opacity: 1;
}

.modalTransitionExitActive {
  display: flex;
  opacity: 0;
  transition: opacity 300ms;
}
